@import "tailwindcss";

.darkMode {
    background: black;
    color: white;
}

button {
    cursor: pointer;
    border: 2px groove black;
    border-radius: 8px;
    padding: 4px 12px;
    transition: all 0.3s linear;
}

button:hover {
    background: gray;
}